*
!.gitignore
!.github
!.github/**
!composer.*
composer.phar
!.env.*
*.save*
!october.yaml
!git.cron.sh
!Envoy.blade.php
!.gitlab-ci.yml
!LICENSE
!themes
!themes/**/*
themes/**/assets/*.js
themes/**/assets/*.css
themes/**/assets/*.map
themes/**/node_modules
!plugins


!plugins/offline
!plugins/offline/tricks
!plugins/offline/tricks/**
