*
!.gitignore
!.github
!.github/**
!composer.*
composer.phar
!.env.*
!README.md
*.save*
!october.yaml
!git.cron.sh
!Envoy.blade.php
!.gitlab-ci.yml
!LICENSE
!themes
!themes/**/*
themes/**/assets/*.js
themes/**/assets/*.css
themes/**/assets/*.map
!themes/**/assets/tagify*
!themes/**/assets/highlight.js
!themes/**/assets/hljs.github-gist.css
!themes/**/assets/easymde.min.js
!themes/**/assets/easymde.min.css
themes/**/node_modules
!plugins

!_ide_helper.php
!plugins/offline
!plugins/offline/tricks
!plugins/offline/tricks/**
