
.form-group
    &:not(:last-child)
        margin-bottom 2rem

    label
        display block
        margin-bottom 4px
        color grey-darkest

    [data-validate-for].visible
        color primary-darker
        margin-top 3px

.two.fields
    lost-flex-container row

    .form-group
        lost-column 1 / 2 2 2rem

.form-control:focus
    border-color grey-darker
    box-shadow 0 3px 3px rgba(0, 0, 0, .075)
    outline none

.form-control
    border 1px solid grey-light
    padding .6em .5em
    width 100%
    border-radius 2px
    background #fff
    box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)

    &::placeholder
        color grey

    &--markdown
        line-height 1.3
        font-family: SFMono-Regular,
                Menlo,
                Monaco,
                Consolas,
                "Ubuntu Mono",
                "Liberation Mono",
                "Courier New",
                monospace;

.form-actions
    display flex
    justify-content flex-start
    align-items center

    .btn
        margin-right 2rem


.form-control-checkbox
    padding-left 2rem
    text-indent -2rem
    cursor pointer

    input
        margin-right .5rem
        top 1px
        position relative

.form-comment
    color grey
    font-size 1.4rem
    margin-bottom 1rem

.form-control + .form-comment
    margin-top 1rem

.form-repeater
    &__row
        position relative

    &__rows
        margin-bottom 2rem

    &__fields
        lost-flex-container row
        padding 1rem 2rem 2rem
        background lighten(grey-lightest, 2)

    &__remove
        cursor pointer
        position absolute
        right 1rem
        top .75rem
        font-size 1.8rem
        line-height 1
        color grey-dark

    .form-group
        lost-column 1 / 2 2 2rem
        margin 0

        label
            font-size 1.5rem
        +below('m')
            lost-column 1 / 1
            &:not(:last-child)
                margin-bottom 1rem

    &__add
        color grey
        padding 1rem
        text-align center
        font-size 1.4rem
        border 1px dashed grey-light
        border-radius 2px
        cursor pointer
        transition .2s ease border-color
        user-select none

        &:hover
            border 1px dashed grey