.footer
    padding 4rem 0 6rem
    text-align center
    line-height 1.3

    &__socialmedia
        display flex
        margin 2rem 0 4rem
        justify-content center

    &__socialicon
        margin 0 1rem

        img
            height 2.25rem

    &__heading
        font-weight 500
        color grey
        margin-bottom 1rem

    &__text
        color grey-light

    a
        color inherit

    &__link
        display inline-block
        border-bottom 2px solid primary-lighter
        transition .2s ease border

        &:hover
            border-bottom-color primary-light


    &__links
        margin-top 4rem
        color grey
        font-size 1.4rem

        > a
            margin 0 .5rem