.lead
    text-align center
    margin-top 6rem
    margin-bottom 5rem

    &__heading
        font-weight 500
        font-size 2.2rem
        color black
        margin-bottom .5rem

    &__text
        color grey-darker
        font-size 1.9rem