<footer class="footer">
    <a id="additional" class="skiplink-anchor" aria-hidden="true"></a>
    <div class="wrapper">
        <div class="footer__socialmedia">
            <a href="https://github.com/OFFLINE-GmbH/octobertricks.com" target="_blank" rel="noopener norefferer"
               class="footer__socialicon" title="Project on GitHub">
                <img src="{{ 'assets/icon-github.svg' | theme }}" alt="GitHub"/>
            </a>
            <a href="https://octobercms.com/author/OFFLINE" target="_blank" rel="noopener norefferer"
               class="footer__socialicon" title="OFFLINE's Marketplace Profile">
                <img src="{{ 'assets/icon-october.svg' | theme }}" alt="October Marketplace"/>
            </a>
            <a href="https://twitter.com/offlinech" target="_blank" rel="noopener norefferer"
               class="footer__socialicon" title="OFFLINE on Twitter">
                <img src="{{ 'assets/icon-twitter.svg' | theme }}" alt="Twitter"/>
            </a>
        </div>
        <p class="footer__heading">
            October Tricks is an open source project by <a class="footer__link" href="https://offline.ch">OFFLINE</a>
        </p>
        <p class="footer__text">
            The source of this website is available on
            <a href="https://github.com/OFFLINE-GmbH/octobertricks.com"
               target="_blank" rel="noopener norefferer">
                GitHub</a>
        </p>

        <div class="footer__links">
            <a href="{{ 'terms' | page }}">Terms</a>
            <a href="{{ 'terms' | page }}">Privacy policy</a>
        </div>
    </div>
</footer>
