<div class="small-trick">
    <a href="{{ 'trick' | page({slug:trick.slug}) }}" class="small-trick__title">
        {{ trick.title }}
        <span class="trick-votes">
            {{ trick.votes }}
        </span>
    </a>
    <a href="{{ 'trick' | page({slug:trick.slug}) }}" class="small-trick__subtitle">
        by <a class="author" href="/authors/{{trick.author.username}}/tricks">{{ trick.author.username }}</a>
    </a>
    <div class="small-trick__tags">
        {% partial 'trickDetail/tags' tags=trick.tags nowrap=true %}
    </div>
</div>