@lost gutter 1rem;
@lost flexbox flex;

primary-darkest = #841003
primary-darker = #C52707
primary-dark = #DE3A11
primary = #F35627
primary-light = #FF9466
primary-lighter = #FFD0B5
primary-lightest = #FFE8D9

green-darkest = #05400A
green-darker = #0E5814
green-dark = #2F8132
green = #3F9142
green-light = #7BC47F
green-lighter = #A3D9A5
green-lightest = #E3F9E5

red-darkest = #610404
red-darker = #911111
red-dark = #A61B1B
red = #BA2525
red-light = #E66A6A
red-lighter = #FACDCD
red-lightest = #FFEEEE


black = #1F2933

grey-darkest = #52606D
grey-darker = #616E7C
grey-dark = #7B8794
grey = #9AA5B1
grey-light = #CBD2D9
grey-lighter = #E4E7EB
grey-lightest = #F5F7FA

rupture.scale = 0px 320px 420px 700px 1000px 1220px 1600px
rupture.scale-names = 'xxs' 'xs' 's' 'm' 'l' 'xl' 'hd'
rupture.enable-em-breakpoints = false
rupture.retina-density = 2

@import 'base/helpers'
@import 'base/fonts'
@import 'base/base'
@import 'base/buttons'
@import 'base/forms'
@import 'base/grid'
@import 'base/tables'
@import 'base/october'
@import 'base/a11y'

@import 'components/*'