<div class="gdpr-cookie-manager__cookie-item-details">

    {% if cookie.item_details | length > 0 %}
        <div class="gdpr-cookie-manager__table-wrapper">
            <table class="gdpr-cookie-manager__item-details-table table">
                <thead>
                <tr>
                    <th>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.name' | trans }}</th>
                    <th>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.provider' | trans }}</th>
                    <th>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.expiry' | trans }}</th>
                    <th>{{ 'offline.gdpr::lang.cookie.fields.cookie_levels.type' | trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entry in cookie.item_details %}
                    <tr>
                        <td>{{ entry.detail_name }}</td>
                        <td>{{ loop.first ? cookie.provider : '' }}</td>
                        <td>{{ entry.detail_expiry }}</td>
                        <td>{{ entry.detail_type }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    <div class="gdpr-cookie-manager__contact-details">
        {% if cookie.contact_details_dpo %}
            <div>
                <h4 class="gdpr-cookie-manager__contact-details-heading">
                    {{ 'offline.gdpr::lang.common.contact_details' | trans }}
                </h4>
                <p>
                    {{ html_clean(cookie.contact_details_dpo | raw) }}
                </p>
            </div>
        {% endif %}

        {% if cookie.contact_links_dpo | length > 0 %}
            <div>
                <h4 class="gdpr-cookie-manager__contact-details-heading">
                    {{ 'offline.gdpr::lang.common.links' | trans }}
                </h4>
                <ul class="gdpr-cookie-manager__contact-list">
                    {% for link in cookie.contact_links_dpo %}
                        <li>
                            <a href="{{ link.contact_link_href }}" rel="noopener nofollow" target="_blank">
                                {{ link.contact_link_name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</div>